 {% extends 'common.html' %}
 {% load static %}

{% block title %}
FAQ
{% endblock %}

{% block content %}
 <h1 class="home-adv__heading">Вопросы и ответы</h1>
 <hr class="hrstyled"/>
 <div class="row justify-content-md-center cblock">
    <div class="col-sm-10">
        <div class="accordeon">
  <h3 class="accordeon-title">Зачем нужно привлекать юристов для составения котрактов?</h3>
  <div class="accordeon-content">
    <p>
        Это необходимо делать для того, чтобы составить максимально корректный договор, который будет удовлетворять Ваши интересы. Зачастую в договорах приводятся пункты, которые можно интерпретировать так или иначе в зависимости от контекста. Юрист  поиогает избежать таких ситуаций, а также проследит, чтобы ваши финансовые и личные интересы были по возможности удовлетворены.
    </p>
  </div>
  <h3 class="accordeon-title">Как найти юриста с нужной специализацией?</h3>
  <div class="accordeon-content">
    <p>
        Существуют целые сети юридических фирм,которые неоднократно оказывают консультации при сотрудничестве с киберспортсменами. В данном вопросе лучше не экономить, а обратится к специалисту,у которого уже есть опыт составления подобных договоров. Возможно, если у вас есть знакомые из киберспортивной среды, лучше проконсультироваться у них.
    </p>
  </div>
  <h3 class="accordeon-title">Вы помогаете с получением визы?</h3>
  <div class="accordeon-content">
    <p>
       В киберспорте случались ситуации , при которых у игрока не получалось попасть на соревнование в связи с такой банальной проблемой, как отказ в визе или несвоевременность подачи на неё документов. Поэтому у нас Вы можете заказать услугу, помогающую быстро и правильно оформить надлежащие документы.
    </p>
  </div>
  <h3 class="accordeon-title">Средняя оплата юриста за составление договора?</h3>
  <div class="accordeon-content">
    <p>
       В данном вопросе многое зависит от самого договора: на какую сумму он заключается, какие предусмотрены дополнительные бонусы и выплаты.В завимости от уровня и сложности цены варьируются от 100 до 500 $
    </p>
  </div>
  <h3 class="accordeon-title">Какие случаи форс-мажора надо описывать в договоре?</h3>
  <div class="accordeon-content">
    <p>
Рассматирваются такие стандартные случаи, как природные катастрофы, военные действия и пожар. С 2020 года в такие договора стали еще включать пункты об эпидемиях и пандемии.
    </p>
  </div>
        <h3 class="accordeon-title">Какие штрафы могут быть вписаны в договор?</h3>
  <div class="accordeon-content">
    <p>
Можно ориентироваться на штрафы из такого вида спорта как футбол. Например опаздание на тренировку, распитие спиртных напитков во время тренировок, несоблюдение режима тд.
В общем то все что мешет команде добиваться успехов.
    </p>
  </div>
        <h3 class="accordeon-title">Какое распределение дохода от спонсорских контрактов между игроком и клубом?</h3>
  <div class="accordeon-content">
    <p>
В зависимости от медийной популярности игрока. Если спонсоры заключили контракт с клубом только потому что там играет конкретный игрок, то большая часть прибыли должна уходить игроку.
    </p>
  </div>
        <h3 class="accordeon-title">С какого возраста можно заключать профессиональный контракт?</h3>
  <div class="accordeon-content">
    <p>
В разных странах законодательство разное, нужно смотреть в какой стране находится данная киберспортивная организация.
В России можно с 14 лет с согласия родителей.
    </p>
  </div>
        <h3 class="accordeon-title">Какой оптимальный срок заключения контракта?</h3>
  <div class="accordeon-content">
    <p>
По нашему опыту 3 года. А вообще этот вопрос нужно рассматривать в отношении к конкретного игрока.
    </p>
  </div>
        <h3 class="accordeon-title">Почему мы должны доверять вашему сайту?</h3>
  <div class="accordeon-content">
    <p>
Мы собрали команду юристов с многолетним стажем работы.
    </p>
  </div>


</div>
    </div>
 </div>

 <script>
     $(function($){
	var contents = $('.accordeon-content');
  var titles = $('.accordeon-title');
  titles.on('click',function(){
    var title = $(this);
    contents.filter(':visible').slideUp(function(){
    	$(this).prev('.accordeon-title').removeClass('is-opened');
    });

    var content = title.next('.accordeon-content');

    if (!content.is(':visible')) {
      content.slideDown(function(){title.addClass('is-opened')});
    }
  });
})(jQuery);
 </script>
 {% endblock %}